#males {
    background-color: #E1C3C3;
    height: 800px;
    margin-left: 10%;
    margin-right: 10%;
    font-style: normal;

}

h1 {
    text-align: center;
    color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Dancing Script";
    font-size: 30px;
    left: 642px;
    background: #684F43;
    border-left: 10%;
    border-right: 10%;

}
#males img {
    margin-left: 15%;
    margin-top: 10%;
    box-shadow: 0px 0px 5px 5px #684F43;

}

#males .males-presentation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
    
}

#males .males-image {
    height: 180px;
    width: 300px;
   
}

#males .males-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#males .males-description {

    width: 475px;
    padding-top: 10px;
    font-family: Dancing Script;
    font-size: 20px;
    padding-bottom: 10px;
    border: 3px solid #929396;
    text-align: center;
    background: #E1C3C3
    
  
}
#males .males-description ul{
    list-style: none;
}